<style>
  body {font-family: Arial, Helvetica, sans-serif;}
  * {box-sizing: border-box;}
  
  input[type=text], select, textarea {
    width: 95%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    border-radius: 46px;
    background-color: rgba(255, 255, 255, 0.693) ;
  }
  input[type=email], select, textarea {
    width: 95%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    border-radius: 46px;
    background-color: rgba(255, 255, 255, 0.693) ;
  }
  
  input[type=submit] {
      background-color: #aa0476; /* Green */
      border: none;
      color: white;
      padding: 20px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: -2px 400px;
      cursor: pointer;
      border-radius: 20px;
  }
  
  
  .container {
    border-radius: 100px;
    background-color: #ffc053;
    padding: 50px;
    width:1000px;
  }
  </style>

<!-- header.component.html -->

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

<div id="header">
  <img id="logo" src="assets/LogoBridge.png" alt="Your Logo">
</div>

<div id="main-content">
  <div id="header-content">
      <div id="text-button-container">
          <div id="text">
             <strong>Improve your skills on your own to prepare for a better future</strong> 
          </div>
          <button id="button">Register now</button>
      </div>
  </div>
  <img id="main-image" src="assets/teams.jpg" alt="Main Image">
</div>

<div id="courses-section">
  <h2><strong>Discover Our Courses </strong></h2>
  <button id="view-more-button">View More</button>
</div>
  
<br>
<br>


<div class="container1 d-flex justify-content-center">
  <!-- Other sections... -->

  <div class="product-main">
      <div class="product-grid">
          <div class="row">
              <div *ngFor="let p of courseList1" class="col-12 col-sm-6 col-md-4">
                  <div class="custom-card mb-3">
                      <img [src]="p.images[0].url" class="card-img-top" alt="..." style="max-height: 200px;">
                      <div class="card-body">
                          <h5 class="card-title">{{p.courseName}}</h5>
                          <p class="card-description">{{p.description}}</p>
                          <p class="card-text">{{p.price}}</p>
                          <a class="btn btn-primary">More Details</a>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>


  <!-- Contact Us Section -->

<br>
<br>
<br>

<body>
<div class="container"  >
  <h3 align="center"><strong>Contact Us</strong></h3>
<form >
  <label for="fname"><strong>NAME</strong></label>
  <input type="text" id="fname" name="firstname" placeholder="flen fouleni">

  <label for="lname"><strong>EMAIL</strong></label>
  <input type="email" id="lname" name="lastname" placeholder="exemple@gmail.com">

  <label for="subject"><strong>MESSAGE</strong></label>
  <textarea id="subject" name="subject" placeholder="Write your message here" style="height:200px"></textarea>

  <input type="submit" value="Send the message" >
</form>
</div>
</body>
  
  <br>  
  <br>
    <br>
      <br>